$font-sizes: (
        base: 14px,
        medium: 16px,
        large: 20px,
        xl: 24px,
        xxl: 32px
);

$font-weights: (
        light: 300,
        normal: 400,
        medium: 500,
        bold: 700
);

$line-height: (
        base: 14px,
        large: 40px,
        xxl: 70px,
);