.header {
	padding: 47px 0;

	&__row {
		@include flexBox;
	}

	&__col {
		flex: 1;
	}

	&__col-auto {
		flex-basis: clamp(200px, toVW(414, 1920), 414px);
		margin: 0 15px;

		& > img {
			width: 100%;
			object-fit: contain;
		}
	}
}

.nav-list {
	@include flexBox($justify: flex-start) {
		gap: toVW(40, 1920);
	};
	font-size: map-get($font-sizes, medium);
	line-height: 25px;
}